{% extends 'base.html' %}


{% block content %}
{% block title %}{{ post.title }} {% endblock %}
        <div>
            <span>
                written by {{ post.author }} on {{ post.created_on }}
            </span>
        </div>
    </p>
    {% if post.comment_set.all %}
    <div>
        {% for comment in post.comment_set.all %}
        <span>
            <a href = "{{ comment.website }}">{{ comment.name }}</a> said on {{ comment.created_on }}
        </span>
        <p>
            {{ comment.text }}
        </p>
        {% endfor %}
    </div>
    {% endif %}
    <div>
        <a href = "{% url 'index' %}">view posts</a> | <a href = "{% url 'delete_post' post.slug %}">delete post</a>
    </div>
    <div>
        <h2>Add comments</h2>
        <form action = "" method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type = "submit" name = "submit", value = "submit">
        </form>
    </div>
{% endblock %}