<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/new">
        <table>
            <tr>
                <td>
                    <label for="author">Author:</label>
                </td>
                <td>
                    <input type="text" id="author" name="author">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="message">Message:</label>
                </td>
                <td>
                    <input type="text" id="message" name="message">
                </td>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <input type="submit" name="submit" id="submit">
                </td>
            </tr>
        </table>
     </form>
</body>
</html>