{% extends 'base.html' %}

{% block title %}New Paste{% endblock %}
{% block content %}
<label for="">Paste details:</label>
<p>  
    <div>
        <label for="id">Id:</label>
        <span> {{ object.id }}</span>
    </div>
    <div>
        <label for="name">Name:</label>
        <span> {{ object.name }}</span>
    </div>

    <div>
        <label for="text">Paste:</label>
        <span>{{ object.text }}</span>
    </div>
    <div>
        <label for="created_at">created:</label>
        <span>{{ object.created_at }}</span>
    </div>

    <div>
        <label for="updated_at">modified:</label>
        <span>{{ object.updated_at }}</span>
    </div>
</p>
<p>
    <a href="{% url 'pastebin_paste_delete' object.id %}">delete</a>
    |
    <a href="{% url 'pastebin_paste_edit' object.id %}">edit</a>
</p>

<p>
    <a href="{% url 'pastebin_paste_list' %}">View All</a>
</p>

{% endblock %}