<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Delete</title>
</head>
<body>
    <h1>Do you really want to delete this {{ object }}?</h1>
    <h2>This action cannot be undone</h2>

    <form action="{% url 'pastebin_paste_delete' object.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="delete">
    </form>
</body>
</html>