<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}My Site{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">
</head>
<body>
    <header>
        <h1>My Site</h1>
        {% if user.is_authenticated %}
            Welcome, {{ user.username }}!
        {% endif %}
    </header>
    <nav>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="">Contact</a></li>
      </ul>
      <div>
        {% if user.is_authenticated %}
            <ul>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="{% url 'change_password' pk=request.user.pk %}">change password</a></li>
            </ul>
        {% else %}
            <ul>
                <li><a href="{% url 'login' %}">login</a></li>
                <li><a href="{% url 'signup' %}">about</a></li>
            </ul>
        {% endif %}
      </div>
    </nav>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer>
      Copyright {{ today|date:"Y" }}
    </footer>
  </body>
</html>
